
.custom-heading{
	padding: 10px; 
	font-size: 30px;
	display: block;
}

.custom-heading-sm{
	padding: 8px; 
	font-size: 20px;
	display: block;
}

.custom-spacing{
	padding: 10px; 
	display: block;
}

.force-inline{
	display: inline-block;
}

.post-meta{
	font-size: 15px;
	color: #b0bad6;
}

.no-textdec{
	text-decoration: none !important;
}
.no-textdec:hover{
	color: #000;
}
.add-textdec{
	text-decoration: none !important;
}
.add-textdec:hover{
	color: black !important;
}

.blog-post{
	margin-bottom: 1rem;
}
.custom-sidebar-module-inset {
	margin-top: 15px;
    padding: 1rem;
    background-color: #d1daea;
    border-radius: .25rem;
}